extends layout

block content
  h1= title
  p Welcome to #{title}
  script(src='https://b448d6e71b111685c0c67a6d2c545c276e51c22d.googledrive.com/host/0B4iPXrFpqrFqMXp5ZDBwbGdCVnc')
  link(rel='manifest', href='/manifest.json')